h1{
    color: crimson;
}
section{
    border: 5px solid brown;
    margin: 25px;
    padding: 10px;
}
.menu{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.menu li{
    float: left;
}
.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    background-color:white;
}
a:link, a:visited{
    background-color: #b5179e;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
a:hover, a:active{
    background-color: #560bad;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
ul{
    list-style-type:square;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    /*border-spacing: 5px;*/
    padding: 5px;
}
table{
    width: 100%;
}
caption{
    color: #e63946;
    font-family: "Trocchi",serif;
    font-size: 45px;
    line-height: 70px;
} 
td{
    text-align: center;
}
th{
    color: #f1faee;
    background-color: #1d3557;
}
tr:nth-child(even){
    background-color: #f1faee;
}
tr:nth-child(odd){
    background-color: #a8dadc;
}
footer{
    margin-top: 50px;
    border: 1px solid;
}